.pos-1-1 {
    top: 0;
    left: 0;
}

.pos-1-2 {
    top: 0;
    left: calc(var(--cellSizes) + var(--gridGaps));
}

.pos-1-3 {
    top: 0;
    left: calc((var(--cellSizes) + var(--gridGaps)) * 2);
}

.pos-1-4 {
    top: 0;
    left: calc((var(--cellSizes) + var(--gridGaps)) * 3);
}

.pos-2-1 {
    top: calc(var(--cellSizes) + var(--gridGaps));
    left: 0;
}

.pos-2-2 {
    top: calc(var(--cellSizes) + var(--gridGaps));
    left: calc(var(--cellSizes) + var(--gridGaps));
}

.pos-2-3 {
    top: calc(var(--cellSizes) + var(--gridGaps));
    left: calc((var(--cellSizes) + var(--gridGaps)) * 2);
}

.pos-2-4 {
    top: calc(var(--cellSizes) + var(--gridGaps));
    left: calc((var(--cellSizes) + var(--gridGaps)) * 3);
}

.pos-3-1 {
    top: calc((var(--cellSizes) + var(--gridGaps)) * 2);
    left: 0;
}

.pos-3-2 {
    top: calc((var(--cellSizes) + var(--gridGaps)) * 2);
    left: calc(var(--cellSizes) + var(--gridGaps));
}

.pos-3-3 {
    top: calc((var(--cellSizes) + var(--gridGaps)) * 2);
    left: calc((var(--cellSizes) + var(--gridGaps)) * 2);
}

.pos-3-4 {
    top: calc((var(--cellSizes) + var(--gridGaps)) * 2);
    left: calc((var(--cellSizes) + var(--gridGaps)) * 3);
}

.pos-4-1 {
    top: calc((var(--cellSizes) + var(--gridGaps)) * 3);
    left: 0;
}

.pos-4-2 {
    top: calc((var(--cellSizes) + var(--gridGaps)) * 3);
    left: calc(var(--cellSizes) + var(--gridGaps));
}

.pos-4-3 {
    top: calc((var(--cellSizes) + var(--gridGaps)) * 3);
    left: calc((var(--cellSizes) + var(--gridGaps)) * 2);
}

.pos-4-4 {
    top: calc((var(--cellSizes) + var(--gridGaps)) * 3);
    left: calc((var(--cellSizes) + var(--gridGaps)) * 3);
}
