#linear-background {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(115, 115, 155, 0.8), var(--silver));
    height: 55.5vh;
    width: 100%;
}

#linear-background h1 {
    position: absolute;
    top: 12.5vh;
    margin: 0;
    font-size: 8rem;
    color: var(--red);
}

#linear-background img {
    position: absolute;
    z-index: 2;
    bottom: calc(45vh - 80px);
    width: 100%;
    height: auto;
}

#interactive-area {
    width: 100%;
    height: 45vh;
}

/* Risolvere il problema di overflow!!! */
#animated-layer {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: var(--red);
}

#animated-layer h2 {
    font-size: 5rem;
    color: var(--backgroundColor);
}

.animate {
    animation-name: translateLayer;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes translateLayer {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#wave-1 {
    position: absolute;
    top: 55vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#wave-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

#wave-1 .shape-fill {
    fill: #C9C0BB;
}

#wave-2 {
    position: absolute;
    z-index: 3;
    bottom: calc(45vh - 81px);
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#wave-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

#wave-2 .shape-fill {
    fill: #FFEBEB;
}

/** For mobile devices **/
@media (max-width: 767px) {
    #wave-1 svg {
        width: calc(100% + 1.3px);
        height: 81px;
    }
    
    #wave-2 svg {
        width: calc(100% + 1.3px);
        height: 81px;
    }
}
